body{
    margin: 0;
}
.wrapper{
    width: 100%;
}
.container{
    width: 70vw;
    margin: auto;
}
.header-menu-nav ul li{
    display: inline-block;
    text-decoration: none;
}
.header-menu-nav ul li a{
    text-decoration: none;
}